html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", "Arial", sans-serif;
    color: #271b27;
    background-image: url("./assets/img/glitch-bg.png");
}

h1,
h2 {
    font-family: "Chango", "Arial Black", sans-serif;
    font-variant: small-caps;
}

h1 {
    font-size: 30px;
    color: #cf548b;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #8d50c7;
}

p {
    line-height: 1.5;
    margin: 10px;
    }

ol, ul {
    line-height: 1.5;
    margin: 10px;
	list-style: none;
}

pre {
    font-family: "Cutive Mono", "Courier New", monospace;
  }

.border {
    border-style: solid;
    border-width: 3px;
    border-color: #413041;
}

.container {
    width: 800px;
    max-width: 90vw;
    margin: auto;
    border-radius: 17px;
}

.header,
.footer {
    position: relative;
    text-align: center;
    background-color: rgba(59, 26, 112, 0.664);
    backdrop-filter: blur(5px) saturate(70%);
}

.header {
    border-radius: 15px 15px 0 0;
}

.profile {
    display: flex;
    justify-content: center;
    padding: 15px 10vw 15px 10vw;
    margin: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    max-width: 25vw;
    max-height: 25vw;
    margin: 15px;
    text-align: right;
    border-radius: 50%;
}

.profile-names {
    text-align: left;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav {
    display: inline;
}

.main {
    position: relative;
    padding: 0;
    text-align: center;
    background-color: rgba(189, 92, 145, 0.85);
    backdrop-filter: blur(7px);
}

.tab-content {
    width: 500px;
    max-width: 70vw;
    margin: auto;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0 30px;
    border-radius: 0 0 15px 15px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #413041;
}

#navigation li {
    display: inline
}

#credits {
    text-align: left;
}

#logo {
    text-align: right;
}

#logo-svg {
    fill: #b95397;
}

#navigation {
    margin: 0;
}